body {
    font-family: Montserrat, serif;
    font-size: 16px;
}

/* Bootstrap alterações */

.btn-warning {
    border-radius: 34px;
    padding: 14px 34px;
    color: #003B88;
    border: 2px solid #DDAE01;
    text-transform: uppercase;
}

.btn-secondary {
    text-align: left;
    width: 100%;
    background-color: white;
    border-radius: 34px;
    padding: 16px 30px;
    color: #585858;
    border: 2px solid #EBEBEB;
}

.btn-warning:active {
    background-color: #127681;
}

.btn-danger {
    background-color: none;
}

/* .btn-warning:visited {
    background-color: #127681;
} */

.navbar-nav {
    align-items: center;
}

.nav-item {
    color: white !important;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-deck { 
    margin: 100px 0;
}

/* Padroes */



/* CSS Pessoal */

.start-bg {
    background: url("../assets/img/bg-painel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.padding-slide {
    padding: 170px 0;
}

.conteudo-slide {
    font-size: 60px;
    font-weight: bold;
    line-height: 65px;
    color: white;
    margin-bottom: 25px;
}


/* Sustentabilidade */

.susto {
    margin: 80px auto;
}

.sustentabilidade {
    margin: 80px 0;
}

.texto-sustenta {
    font-size: 18px;
    line-height: 24px;
}

.magenta {
    color: #FF3171;
}

.amarelo {
    color: #F7C200;
}

.verde {
    color: #127681;
}

.marrom {
    color: #B5B28D;
}

/* .marrom, .verde, .amarelo, .magenta:hover {
    color: white;
} */

.card-susto {
    padding: 70px 0 30px 30px;
    font-weight: bold;
    border: 1px solid  #EBEBEB;
    border-radius: 30px;
    transition: 0.5s;
}

.card-susto:hover {
    background-color: currentColor;
}

.card-susto::after {
    content: "";
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
}

.setona {
    margin: 0 auto;
}

/* Calculadora */

.custom-container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 60px 0;
    border-radius: 30px;
    background-color: #FAFAFA;
}

.titulo-sessao h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    color: #003B88;
}

.titulo-sessao p {
    font-size: 14px;
    font-weight: normal;
}

.passos {
    margin: 50px 0 30px 0;
}

.passo {
    display: flex;
    align-items: center;
}

.passo span {
    margin-right: 10px;
}

.icon-active {
    background-color: #003B88;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.icon-non-active {
    background-color: white;
    border: 1px solid #003B88;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.passo-progress {
    height: 1px;
    width: 100%;
    background-color: black;
}

.passo-rest {
    display: flex;
    justify-content: space-around;
}

.opt {
    padding: 30px 0;
}